.arunkumars08 {
  font-family: 'Segoe UI Light';
  padding: 20px;
  padding-left: 0;
  padding-right: 0; }
  .arunkumars08 header {
    padding-bottom: 5px;
    margin-bottom: 25px; }
    .arunkumars08 header .my-name {
      font-size: 60px;
      padding: 0;
      margin: 0;
      color: #135084;
      text-transform: UPPERCASE; }
  .arunkumars08 .article {
    padding: 10px;
    margin: 10px; }
    .arunkumars08 .article p {
      padding: 0;
      margin: 0;
      font-size: 17px;
      line-height: 18px; }
  .arunkumars08 .my-headers {
    font-size: 35px;
    color: #373a3c; }
  .arunkumars08 .footer-text {
    padding-top: 5px;
    text-align: center; }
